
/* GENERAL*/

   * {
    box-sizing: border-box;
   } 
    
/* NAVBAR */
    .hamburger{
        display: none;
        
    }
    
    .momentum {
        display: none;
    }
    .navbar {
        margin: 0;
        height: 10vh;
        font-family: 'Mulish', sans-serif;
        letter-spacing: 1.5px;
        color: 	white;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .submenu-portfolio {
        display: none;
        position: absolute;
        opacity:0.5;
        padding: 10px;
        width: 200px;
    }
    
    .submenu-portfolio li {
        list-style-type: none;
        padding: 5px 0;
    }
    .submenu-portfolio li a {
        color: black;
        text-decoration: none;
        
    }
    
    .submenu-portfolio li a:hover{
        text-decoration: underline;
    }
    
    .dropdown-portfolio:hover .submenu-portfolio {
        display: block;
    }
    
    .navbar li {
        list-style-type: none;
    }
    
    .nav-item {
        margin: 1rem;
        text-decoration: none;
        color: black;
    }
    
    .nav-item:hover {
        text-decoration: underline;
    }
    
    .logo {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
    
    .logo:hover{
        text-decoration: underline;
    }
    
    .footer {
        background-color: black;
        margin-top: 10px;
        height: 200px;
    }


    /* PORTFOLIO ALBUMS MAIN DIV */

    .main {
        height: 70vh;
    }

    /* FOOTER */

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin-top: 10px;
        height: 200px;
        color: white;
    }
    
    .footer li {
        list-style-type:none;
        padding: 10px;
    }
    .footer-links li a {
         text-decoration: none;
         color: white;
        
         
    }

    /* MEDIA QUERIES */
    
    @media only screen and (max-width: 768px) {
       
    
        .nav-container {
            position: relative;
            padding-top: 20px;
        }
        .hamburger{
            cursor: pointer;
            position: absolute;
            display: block;
            height: 50px;
            top: 45px;
            left: 10px;
            transform:translateX(0);
            transition: transform 0.3s ease;
           
        }
    
        .momentum {
            display: block;
            text-align:center;
            padding: 20px;
            margin: 0;
            color: black;
        }
        .navbar{
            background-color: black;
            opacity: 0.5;
            flex-direction: column;
            padding: 30px;
            height: 300px;
            width: 100%;
            text-align: center;
            transform:translateX(-100%);
            transition:transform 0.3s ease;
        }
    
        .navbar.active {
            transform:translateX(0);
        }
    
        .submenu-portfolio {
           background: black;
           text-align: left;
        }
    
        .submenu-portfolio li a {
            color: white;
        }
        .navbar li {
            padding: 10px;
        }
        .nav-item {
            color: white;
            
        }
    
        .logo-li {
            display: none;
        }
        
    
        
    }   